{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
<div class="page-header">
    <h1>📚 Ласкаво просимо до Книжкового магазину</h1>
</div>

<p>Тут ви можете переглядати книги, додавати нові, редагувати існуючі та аналізувати статистику по авторам.</p>

<div class="btn-group">
    <a href="{{ url_for('courses') }}" class="btn btn-primary">Переглянути курси</a>
    
    <a href="{{ url_for('students') }}" class="btn btn-primary">Переглянути студентів</a>

</div>
{% endblock %}
